* {
  box-sizing: border-box;
}

.sidebar {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 270px;
  float: right;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

h1,
.sidebar,
h4 {
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 15px;
  margin-right: 20px;
  line-height: 22px;
  text-align: center;
  color: #444444;
}
h1,
h2 {
  text-align: center;
}

.social {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-right: 5px;
  cursor: pointer;
}
.social:last-child {
  margin-right: 0;
}

.portrait {
  width: 200;
  height: 200;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}


.navbar {
  height: 80px;
  width: 100%;
  
}

